<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.viva.concimiento"
        versionCode = "0.1.7"
        android-versionCode="0.1.7"
        version 	= "0.1.7">

    <gap:config-file platform="ios" parent="CFBundleShortVersionString">
        <string>107</string>
    </gap:config-file>

    <name>Sistema de Conocimiento</name>

    <description>
        Sistema de capacitación Nuevatel VIVA.
    </description>

    <author href="http://josex.info" email="sisjosex@gmail.com">
        Jose L. Perez Nogales
    </author>

    <preference name="android-build-tool" value="gradle" />
    <preference name="android-targetSdkVersion" value="23" />
    <preference name="android-minSdkVersion" value="21" />

    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions"                value="none"/>

    <!-- Customize your app and platform with the preference element. -->
    <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="false" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="webviewbounce"              value="false" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="stay-in-webview"            value="false" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    <!--<preference name="ios-statusbarstyle"         value="black-opaque" />-->   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="false" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="show-splash-screen-spinner" value="false" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen"    value="false" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->

    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true"/>

    <!--<preference name="SplashScreen" value="screen" />-->
    <preference name="SplashScreenDelay" value="120000" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="FadeSplashScreenDuration" value="750"/>
    <preference name="ShowSplashScreenSpinner" value="false"/>

    <!--
        Define a specific version of PhoneGap to build into your app.
        <preference name="phonegap-version"       value="cli-6.3.0" />
    -->

    <!-- Plugins -->

    <!-- Core plugins -->
    <!--<plugin spec="https://github.com/apache/cordova-plugin-battery-status.git" source="git" />-->
    <!--<plugin spec="https://github.com/apache/cordova-plugin-camera.git" source="git" />-->
    <!--<plugin spec="https://github.com/apache/cordova-plugin-media-capture.git" source="git" />-->
    <!--<plugin spec="https://github.com/apache/cordova-plugin-console.git" source="git" />-->
    <!--<plugin spec="https://github.com/apache/cordova-plugin-contacts.git" source="git" />-->


    <!--<plugin spec="https://github.com/apache/cordova-plugin-device.git" source="git" />-->

    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-device-orientation" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-inappbrowser" />


    <!--<plugin spec="https://github.com/apache/cordova-plugin-device-motion.git" source="git" />-->

    <!--<plugin spec="https://github.com/apache/cordova-plugin-device-orientation.git" source="git" />-->
    <!--<plugin spec="https://github.com/apache/cordova-plugin-dialogs.git" source="git" />-->


    <!--<plugin name="cordova-plugin-file" />-->
    <plugin name="https://github.com/apache/cordova-plugin-file-transfer.git" />
    <!--<plugin spec="https://github.com/apache/cordova-plugin-geolocation.git" source="git" />-->
    <!--<plugin name="cordova-plugin-globalization" />-->


    <!--<plugin spec="https://github.com/apache/cordova-plugin-inappbrowser.git" source="git" />-->


    <!--<plugin spec="https://github.com/apache/cordova-plugin-media.git" source="git" />-->
    <plugin spec="https://github.com/apache/cordova-plugin-network-information.git" source="git" />
    <plugin spec="https://github.com/apache/cordova-plugin-splashscreen.git" source="git" />
    <plugin spec="https://github.com/apache/cordova-plugin-vibration.git" source="git" />
    <!--<plugin name="cordova-plugin-statusbar" />-->
    <plugin name="cordova-plugin-statusbar" />

    <plugin spec="https://github.com/nchutchind/cordova-plugin-streaming-media.git" source="git" />

    <feature name="SplashScreen" >
        <param
                name="android-package"
                value="org.apache.cordova.splashscreen.SplashScreen" />
        <param
                name="onload"
                value="true" />
    </feature>

    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>


    <plugin spec="https://github.com/AppsFlyerSDK/PhoneGap.git" source="git" />
    <feature name="AppsFlyerPlugin">
        <param name="ios-package" value="AppsFlyerPlugin" />
    </feature>
    <feature name="AppsFlyerPlugin">
        <param name="android-package" value="com.appsflyer.cordova.plugin.AppsFlyerPlugin" />
    </feature>

    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#dae87b" />
    <preference name="StatusBarStyle" value="blackopaque" />



    <!-- iPhone 6 / 6+ -->
    <icon src="res/icon/ios/icon-60@3x.png" platform="ios" width="180" height="180" />

    <!-- iPhone / iPod Touch  -->
    <icon src="res/icon/ios/icon-60.png" platform="ios" width="60" height="60" />
    <icon src="res/icon/ios/icon-60@2x.png" platform="ios" width="120" height="120" />

    <!-- iPad -->
    <icon src="res/icon/ios/icon-76.png" platform="ios" width="76" height="76" />
    <icon src="res/icon/ios/icon-76@2x.png" platform="ios" width="152" height="152" />
    <icon src="res/icon/ios/icon-83.5@2x.png" platform="ios" width="167" height="167" />

    <!-- Settings Icon -->
    <icon src="res/icon/ios/icon-small.png" platform="ios" width="29" height="29" />
    <icon src="res/icon/ios/icon-small@2x.png" platform="ios" width="58" height="58" />
    <icon src="res/icon/ios/icon-small@3x.png" platform="ios" width="87" height="87" />

    <!-- Spotlight Icon -->
    <icon src="res/icon/ios/icon-40.png" platform="ios" width="40" height="40" />
    <icon src="res/icon/ios/icon-40@2x.png" platform="ios" width="80" height="80" />
    <icon src="res/icon/ios/icon-40@3x.png" platform="ios" width="120" height="120" />


    <!-- iPhone / iPod Touch -->
    <icon src="res/icon/ios/icon.png" platform="ios" width="57" height="57" />
    <icon src="res/icon/ios/icon@2x.png" platform="ios" width="114" height="114" />

    <!-- iPad -->
    <icon src="res/icon/ios/icon-72.png" platform="ios" width="72" height="72" />
    <icon src="res/icon/ios/icon-72@2x.png" platform="ios" width="144" height="144" />

    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="res/icon/ios/icon-small.png" platform="ios" width="29" height="29" />
    <icon src="res/icon/ios/icon-small@2x.png" platform="ios" width="58" height="58" />

    <!-- iPad Spotlight and Settings Icon -->
    <icon src="res/icon/ios/icon-50.png" platform="ios" width="50" height="50" />
    <icon src="res/icon/ios/icon-50@2x.png" platform="ios" width="100" height="100" />



    <!-- Android Icons -->
    <icon src="res/icon/android/icon-36-ldpi.png" platform="android"    qualifier="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png" platform="android"    qualifier="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png" platform="android"    qualifier="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png" platform="android"   qualifier="xhdpi" />




    <!-- iPhone and iPod touch -->
    <splash src="res/splash/ios/Default.png" platform="ios" width="320" height="480" />
    <splash src="res/splash/ios/Default@2x.png" platform="ios" width="640" height="960" />

    <!-- iPhone 5 / iPod Touch (5th Generation) -->
    <splash src="res/splash/ios/Default-568h@2x.png" platform="ios" width="640" height="1136" />

    <!-- iPhone 6 -->
    <splash src="res/splash/ios/Default-667h@2x.png" platform="ios" width="750" height="1334" />
    <splash src="res/splash/ios/Default-Portrait-736h@3x.png" platform="ios" width="1242" height="2208" />
    <!--<splash src="Default-Landscape-736h@3x.png" platform="ios" width="2208" height="1242" />-->

    <!-- iPad -->
    <splash src="res/splash/ios/Default-Portrait.png" platform="ios" width="768" height="1024" />
    <!--<splash src="Default-Landscape.png" platform="ios" width="1024" height="768" />-->

    <!-- Retina iPad -->
    <splash src="res/splash/ios/Default-Portrait@2x.png" platform="ios" width="1536" height="2048" />
    <!--<splash src="Default-Landscape@2x.png" platform="ios" width="2048" height="1536" />-->




    <!-- Android Splash -->
    <splash src="res/splash/android/ldpi.png" platform="android" qualifier="ldpi" />
    <splash src="res/splash/android/mdpi.png" platform="android" qualifier="mdpi" />
    <splash src="res/splash/android/hdpi.png" platform="android" qualifier="hdpi" />
    <splash src="res/splash/android/xhdpi.png" platform="android" qualifier="xhdpi" />
    <!--<splash src="fr-xhdpi.png" platform="android" qualifier="fr-xhdpi" />-->
    <!--<splash src="portrait-xxhdpi.png" platform="android" qualifier="port-xxhdpi" />-->
    <!--<splash src="landscape-xxhdpi.png" platform="android" qualifier="land-xxhdpi" />-->



    <access origin="*"/>
    <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
    <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
    <plugin name="cordova-plugin-whitelist" version="1" />

    <!--<plugin spec="https://github.com/Glitchbone/CordovaYoutubeVideoPlayer.git" source="git" />-->
    <!--<plugin spec="https://github.com/sarriaroman/photoviewer.git" source="git" />-->
    <!--<plugin name="cordova-plugin-x-socialsharing" source="npm" />-->
    <!--<plugin spec="https://github.com/apache/cordova-plugin-geolocation.git" source="git" />-->
    <!--<plugin name="nl.x-services.plugins.socialsharing" source="pgb" />-->

    <!--<plugin spec="https://github.com/OneSignal/OneSignal-Cordova-SDK.git" source="git"></plugin>-->

    <!-- BarcodeScanner -->
    <!--<gap:plugin name="com.ams.plugins.barcodescanner" version="2.0.1" />-->

    <!-- PhoneDialer -->
    <!--<gap:plugin spec="https://github.com/anemitoff/PhoneGap-PhoneDialer.git " version="git" />-->

    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="orientation" value="default" />
        <preference name="StatusBarBackgroundColor" value="#dae87b" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="StatusBarBackgroundColor" value="#dae87b" />
    </platform>

    <preference name="AndroidPersistentFileLocation" value="Compatibility" />

</widget>