<div class="div_expand_row nav-tabs-style-2">
    <ul class="nav nav-tabs responsive-tabs" data-query="each(menu)">
        <li role="presentation"> <a href="{{get_content_route($this)}}" class="truncate" >{{title}}</a></li>
    </ul>
    <div class="clear"></div>
</div>

<div class="div_expand_row">
    <div id="owl-slide" class="owl-theme-1" data-query="each(slider_posts)">
        <div class="item">
            <img src="{{fix_url(thumbnail)}}" alt="{{title}}" class="lazyOwl" />
            <div class="item_content">
                <h4><a  href="#page/{{id}}">{{title}}</a></h4>
                <p><span data-query="html(summary)"></span> &nbsp; <a  href="#page/{{id}}">Visitar</a></p>
            </div>
        </div>
    </div>
    <div class="text-center" style="margin-bottom: 8px" data-query="visible(slider_post_type)">
        <a href="#post_type/key={{slider_post_type}}" class="btn btn-purple btn-sm">Ver todos</a>
    </div>
    
</div>

<div data-query="each(panels)">
    <div class="panel my-panel3">
        <div class="panel-heading">{{title}} <a href="{{get_content_route($this)}}" class="link_panel">Ver todos</a></div>
        <div class="panel-body">

            <div class="owl-slide-posts" data-query="template('template_post').each(posts)"></div>

        </div>
    </div>
</div>
