<div class="header_error"></div>
<h3 style="font-size: 22px">¡Lo sentimos! Ocurrió un evento inesperado</h3>
<h3 data-query="text(message)"></h3>
<a href="javascript:;" onclick="window.history.back(); return false;" class="btn btn-green" style="margin-top: 48px"> <i class="fa fa-refresh"></i> Intentar de nuevo</a>
<p style="margin: 12px 0"> ó </p>
<div>
    <a href="index.html" class="btn btn-default"> Ir al inicio</a>
    <a  data-query="visible(is_signin())" href="javascript:;" onclick="window.logout(); return false;"  class="btn btn-danger" > Cerrar sesión</a>
</div>